html, body {
  height: 100%;
  width: 100%;
}

table, th, td{
  border: 2px darkblue solid;
  border-collapse:seperate;
}

body{
  text-align:center ;
}

table{
  margin:auto ;
}

table.classTable{
  empty-cells: hide;
}